---

# * ìë£Œì˜ ìš”ì•½: Five Number Summary (Box Plotì€ ì‹œê°í™” ë‚´ìš©ì—ì„œ ë‹¤ë£¸)

>PPT êµì•ˆì˜ ì˜ˆì œë¥¼ í’€ì–´ë´…ì‹œë‹¤.

#### (1) í•„ìš”í•œ íŒ¨í‚¤ì§€ import í•˜ê¸°

In [1]:
import pandas as pd
import numpy as np

#### (2) ë¶„ìœ„ìˆ˜ ê³„ì‚°ì„ í†µí•´ ì§ì ‘ êµ¬í•˜ê¸°

In [2]:
# PPT êµì•ˆì—ì„œì˜ ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ì •ì˜
score_list = [4,5,8,8,7,5,8,8,10,6,5,8,7,9,4,6,10,7,6,9]
print("Assignment Score in Statistics Class:", score_list)
np.sort(score_list)

Assignment Score in Statistics Class: [4, 5, 8, 8, 7, 5, 8, 8, 10, 6, 5, 8, 7, 9, 4, 6, 10, 7, 6, 9]

array([ 4,  4,  5,  5,  5,  6,  6,  6,  7,  7,  7,  8,  8,  8,  8,  8,  9,
        9, 10, 10])

In [3]:
# Five Number Summary ê°’ë“¤ ê³„ì‚°í•˜ê¸°
f_summary = np.percentile(score_list, [0, 25, 50, 75, 100])
# Five Number Summary ì¶œë ¥í•˜ê¸°
print("="*25)
print(" Five Number Summary")
print(" (data: score_list)")
print("="*25)
print(" Min: %.3f" % f_summary[0])
print(" Q1: %.3f" % f_summary[1])
print(" Median: %.3f" % f_summary[2])
print(" Q3: %.3f" % f_summary[3])
print(" Max: %.3f" % f_summary[4])
print("="*25)

=========================
 Five Number Summary
 (data: score_list)
=========================
 Min: 4.000
 Q1: 5.750
 Median: 7.000
 Q3: 8.000
 Max: 10.000
=========================

### ì°¸ê³ : 1ì‚¬ë¶„ìœ„ìˆ˜ ê°’ì— ëŒ€í•œ ê³ ì°°
> ì´ë¡  ë‚´ìš©ì—ì„œëŠ” ë‹¨ìˆœíˆ ì¤‘ìœ„ìˆ˜(ì¤‘ì•™ê°’)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‘ ê·¸ë£¹ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ë‹¤ì‹œ ì¤‘ìœ„ìˆ˜ë¥¼ êµ¬í•˜ëŠ” í˜•íƒœë¡œ ì„¤ëª…í•˜ê¸°ë„ í•˜ë©°, <br>
ì¼ë°˜ì ìœ¼ë¡œ ì—‘ì…€, íŒŒì´ì¬, R ë“±ì—ì„œëŠ” ë¹„ë¡€ë³´ê°„ë²•ì„ ì´ìš©í•˜ë¯€ë¡œ ê°’ì´ ë‹¤ì†Œ ë‹¤ë¥´ê²Œ ì¶œë ¥ë¨. ë¶„ìœ„ìˆ˜ë¥¼ êµ¬í•˜ëŠ” ë°©ë²•ì€ ì•½ 8~9ê°€ì§€ ì •ë„ë¡œ <br>
ë‹¤ì–‘í•˜ë©° ì°¸ê³  ê°’ìœ¼ë¡œ í™œìš©í•˜ê¸° ë•Œë¬¸ì— ì‚¬ìš©í•˜ëŠ” ì–¸ì–´ë‚˜ ì†Œí”„íŠ¸ì›¨ì–´ì˜ ê°’ì„ ê·¸ëŒ€ë¡œ ì‚¬ìš©í•´ë„ ë¬´ë°©í•¨.

#### (3) Pandas íŒ¨í‚¤ì§€ ì´ìš©í•´ì„œ êµ¬í•˜ê¸°

In [4]:
# PPT êµì•ˆì—ì„œì˜ ë°ì´í„°ë¥¼ data frameìœ¼ë¡œ ì •ì˜
df_score= pd.DataFrame({'score': score_list})
df_score

    score
0       4
1       5
2       8
3       8
4       7
5       5
6       8
7       8
8      10
9       6
10      5
11      8
12      7
13      9
14      4
15      6
16     10
17      7
18      6
19      9

In [5]:
# Pandas ë°ì´í„° ìš”ì•½ í•¨ìˆ˜ í™œìš©
df_score.describe()

           score
count  20.000000
mean    7.000000
std     1.835326
min     4.000000
25%     5.750000
50%     7.000000
75%     8.000000
max    10.000000

In [6]:
# Five Number Summaryì˜ ê°’ë§Œ ë¶ˆëŸ¬ì˜¤ê¸°
df_score.describe().loc[['min', '25%', '50%', '75%', 'max']]

     score
min   4.00
25%   5.75
50%   7.00
75%   8.00
max  10.00

# * ìƒê´€ë¶„ì„ (Correlation Analysis)

### ì˜ˆì œ:
   ì–´ëŠ íšŒì‚¬ì—ì„œ ì˜ì—…ì‚¬ì›ë“¤ì˜ â€œì§€ê° íšŸìˆ˜(ğ‘‹)â€ì™€ â€œì œí’ˆ íŒë§¤ íšŸìˆ˜(ğ‘Œ)â€ê°€ ì„œë¡œ ìƒê´€ê´€ê³„ê°€ ìˆëŠ”ì§€ ì•Œì•„ë³´ê³ ì í•œë‹¤.<br>
   ì˜ì—…ì‚¬ì› 5ëª…ì„ ëŒ€ìƒìœ¼ë¡œ, í•œ ë‹¬ ë™ì•ˆ ì§€ê° íšŸìˆ˜ì™€ íŒë§¤ íšŸìˆ˜ë¥¼ ì¡°ì‚¬í•œ ê²°ê³¼ê°€ ì•„ë˜ì™€ ê°™ë‹¤.<br>
   ë‘ ë³€ìˆ˜ ê°„ì˜ í”¼ì–´ìŠ¨ ìƒê´€ê³„ìˆ˜ì™€ ìŠ¤í”¼ì–´ë§Œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•´ë³´ì.
   
   |ì§€ê°íšŸìˆ˜(x)|íŒë§¤íšŸìˆ˜(y)|
   |---|---|
   |1|8|
   |2|7|
   |3|6|
   |4|4|
   |5|5|

In [15]:
# íŒ¨í‚¤ì§€ import
import pandas as pd
import scipy.stats as stats

In [16]:
# ë°ì´í„°í”„ë ˆì„ ì •ì˜
x = [1, 2, 3, 4, 5]
y = [8, 7, 6, 4, 5]
df = pd.DataFrame({'x':x,
                  'y':y})
display(df)

   x  y
0  1  8
1  2  7
2  3  6
3  4  4
4  5  5

In [9]:
# ìƒê´€ê³„ìˆ˜(í–‰ë ¬) êµ¬í•˜ê¸° - í”¼ì–´ìŠ¨ ìƒê´€ê³„ìˆ˜
df.corr(method="pearson") #default = pearson

     x    y
x  1.0 -0.9
y -0.9  1.0

In [10]:
# ìƒê´€ê³„ìˆ˜(í–‰ë ¬) êµ¬í•˜ê¸° - ìŠ¤í”¼ì–´ë§Œ ìƒê´€ê³„ìˆ˜
df.corr(method="spearman") # spearman

     x    y
x  1.0 -0.9
y -0.9  1.0

In [13]:
# í”¼ì–´ìŠ¨ ìƒê´€ê²€ì •
stats.pearsonr(x,y)

PearsonRResult(statistic=-0.9, pvalue=0.03738607346849864)

In [17]:
# ìŠ¤í”¼ì–´ë§Œ ìƒê´€ê²€ì •
stats.spearmanr(x,y)

SignificanceResult(statistic=-0.8999999999999998, pvalue=0.03738607346849875)