---

# * 자료의 요약: Five Number Summary (Box Plot은 시각화 내용에서 다룸)

>PPT 교안의 예제를 풀어봅시다.

#### (1) 필요한 패키지 import 하기

In [1]:
import pandas as pd
import numpy as np

#### (2) 분위수 계산을 통해 직접 구하기

In [2]:
# PPT 교안에서의 데이터를 리스트로 정의
score_list = [4,5,8,8,7,5,8,8,10,6,5,8,7,9,4,6,10,7,6,9]
print("Assignment Score in Statistics Class:", score_list)
np.sort(score_list)

Assignment Score in Statistics Class: [4, 5, 8, 8, 7, 5, 8, 8, 10, 6, 5, 8, 7, 9, 4, 6, 10, 7, 6, 9]

array([ 4,  4,  5,  5,  5,  6,  6,  6,  7,  7,  7,  8,  8,  8,  8,  8,  9,
        9, 10, 10])

In [3]:
# Five Number Summary 값들 계산하기
f_summary = np.percentile(score_list, [0, 25, 50, 75, 100])
# Five Number Summary 출력하기
print("="*25)
print(" Five Number Summary")
print(" (data: score_list)")
print("="*25)
print(" Min: %.3f" % f_summary[0])
print(" Q1: %.3f" % f_summary[1])
print(" Median: %.3f" % f_summary[2])
print(" Q3: %.3f" % f_summary[3])
print(" Max: %.3f" % f_summary[4])
print("="*25)

=========================
 Five Number Summary
 (data: score_list)
=========================
 Min: 4.000
 Q1: 5.750
 Median: 7.000
 Q3: 8.000
 Max: 10.000
=========================

### 참고: 1사분위수 값에 대한 고찰
> 이론 내용에서는 단순히 중위수(중앙값)을 기준으로 두 그룹으로 나누어 다시 중위수를 구하는 형태로 설명하기도 하며, <br>
일반적으로 엑셀, 파이썬, R 등에서는 비례보간법을 이용하므로 값이 다소 다르게 출력됨. 분위수를 구하는 방법은 약 8~9가지 정도로 <br>
다양하며 참고 값으로 활용하기 때문에 사용하는 언어나 소프트웨어의 값을 그대로 사용해도 무방함.

#### (3) Pandas 패키지 이용해서 구하기

In [4]:
# PPT 교안에서의 데이터를 data frame으로 정의
df_score= pd.DataFrame({'score': score_list})
df_score

    score
0       4
1       5
2       8
3       8
4       7
5       5
6       8
7       8
8      10
9       6
10      5
11      8
12      7
13      9
14      4
15      6
16     10
17      7
18      6
19      9

In [5]:
# Pandas 데이터 요약 함수 활용
df_score.describe()

           score
count  20.000000
mean    7.000000
std     1.835326
min     4.000000
25%     5.750000
50%     7.000000
75%     8.000000
max    10.000000

In [6]:
# Five Number Summary의 값만 불러오기
df_score.describe().loc[['min', '25%', '50%', '75%', 'max']]

     score
min   4.00
25%   5.75
50%   7.00
75%   8.00
max  10.00

# * 상관분석 (Correlation Analysis)

### 예제:
   어느 회사에서 영업사원들의 “지각 횟수(𝑋)”와 “제품 판매 횟수(𝑌)”가 서로 상관관계가 있는지 알아보고자 한다.<br>
   영업사원 5명을 대상으로, 한 달 동안 지각 횟수와 판매 횟수를 조사한 결과가 아래와 같다.<br>
   두 변수 간의 피어슨 상관계수와 스피어만 상관계수를 구해보자.
   
   |지각횟수(x)|판매횟수(y)|
   |---|---|
   |1|8|
   |2|7|
   |3|6|
   |4|4|
   |5|5|

In [15]:
# 패키지 import
import pandas as pd
import scipy.stats as stats

In [16]:
# 데이터프레임 정의
x = [1, 2, 3, 4, 5]
y = [8, 7, 6, 4, 5]
df = pd.DataFrame({'x':x,
                  'y':y})
display(df)

   x  y
0  1  8
1  2  7
2  3  6
3  4  4
4  5  5

In [9]:
# 상관계수(행렬) 구하기 - 피어슨 상관계수
df.corr(method="pearson") #default = pearson

     x    y
x  1.0 -0.9
y -0.9  1.0

In [10]:
# 상관계수(행렬) 구하기 - 스피어만 상관계수
df.corr(method="spearman") # spearman

     x    y
x  1.0 -0.9
y -0.9  1.0

In [13]:
# 피어슨 상관검정
stats.pearsonr(x,y)

PearsonRResult(statistic=-0.9, pvalue=0.03738607346849864)

In [17]:
# 스피어만 상관검정
stats.spearmanr(x,y)

SignificanceResult(statistic=-0.8999999999999998, pvalue=0.03738607346849875)