# Example 1: College Football Data in U.S.

In [ ]:
# 패키지 import
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action='ignore') # Warning Off

In [ ]:
# 데이터 로드

In [ ]:
# 데이터 구조 살펴보기

In [ ]:
# 전체 데이터 요약 통계 출력하기

In [ ]:
# 전체 데이터 정보 파악하기

In [ ]:
# 팀 리스트 출력

In [ ]:
# pd.to_numeric(숫자로 변경할 대상, errors='ignore/raise/coerce')

In [ ]:
# pd.to_numeric(숫자로 변경할 대상, errors='ignore/raise/coerce')
### * errors: error는 총 3개의 옵션이 존재합니다.
##### - errors = 'ignore' -> 만약 숫자로 변경할 수 없는 데이터라면 숫자로 변경하지 않고 원본 데이터를 그대로 반환합니다.
##### - errors = 'coerce' -> 만약 숫자로 변경할 수 없는 데이터라면 기존 데이터를 지우고 NaN으로 설정하여 반환합니다.
##### - errors = 'raise' -> 만약 숫자로 변경할 수 없는 데이터라면 에러를 일으키며 코드를 중단합니다.

# 정수 -> 실수 변환
# df[['Win']] = df[['Win']].apply(pd.to_numeric, errors='coerce')

In [ ]:
# 상관계수 행렬 구하기

In [ ]:
# Win 변수가 0.75 이상인 변수만 선택하여, Win 변수와의 상관계수 열만 선택 후, columns_list에 해당 변수 리스트 저장

In [ ]:
# Win 변수가 0.75 이상인 변수 데이터만 선택하여 df1에 저장

In [ ]:
# Games열은 제거하고, Team이라는 이름의 새로운 열에 팀 명칭을 입력

In [ ]:
# Seaborn 패키지를 활용하여 히트맵 생성
# 차트(fig)의 크기 설정


# 히트맵 생성  # annot=True -> 히트맵에 값을 함께 출력


# y축의 라벨 글자를 회전 (기본상태 = 90, x축과 같은 방향 = 0)

In [ ]:
# Seaborn 패키지를 활용하여 pairplot (scatter plot matrix) 생성

In [ ]:
# Plot colored by continent for years 2000-2007


# Title